In [4]:
import preprocessing
import util

In [2]:
filename = "DAY_1.txt"
type = "HouseA"

In [3]:
df = preprocessing.process_data_Aras("DAY_1.txt", "HouseA")

0
20000
40000
60000
80000
1158

In [3]:
df

      sensor_id  value   time  old_sen
0          5889      1     49        3
1          5889      0    252        3
2          5889      1    301        3
3          5889      0    504        3
4          5889      1    505        3
...         ...    ...    ...      ...
1153       7125      1  86125       16
1154       7125      0  86128       16
1155       7125      1  86152       16
1156       7125      0  86154       16
1157       5889      1  86219        4

[1158 rows x 4 columns]

In [4]:
data = util.load_aras(filename, type)
data

0
20000
40000
60000
80000

       3  4  7  11  12  13  15  16  17  19  20  21   time
0      0  0  0   0   0   0   0   0   0   0  12  17      1
48     1  0  0   0   0   0   0   0   0   0  12  17     49
251    0  0  0   0   0   0   0   0   0   0  12  17    252
300    1  0  0   0   0   0   0   0   0   0  12  17    301
503    0  0  0   0   0   0   0   0   0   0  12  17    504
...   .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
86124  1  0  0   0   0   0   0   1   0   0  21  12  86125
86127  1  0  0   0   0   0   0   0   0   0  21  12  86128
86151  1  0  0   0   0   0   0   1   0   0  21  12  86152
86153  1  0  0   0   0   0   0   0   0   0  21  12  86154
86218  1  1  0   0   0   0   0   0   0   0  12  12  86219

[1159 rows x 13 columns]

In [5]:
data = util.transform_House(data)
data

      3  4  7  11  12  13  15  16  17  19  20  21   time  sensor  value
1     1  0  0   0   0   0   0   0   0   0  12  17     49       3      1
2     0  0  0   0   0   0   0   0   0   0  12  17    252       3      0
3     1  0  0   0   0   0   0   0   0   0  12  17    301       3      1
4     0  0  0   0   0   0   0   0   0   0  12  17    504       3      0
5     1  0  0   0   0   0   0   0   0   0  12  17    505       3      1
...  .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...     ...    ...
1154  1  0  0   0   0   0   0   1   0   0  21  12  86125      16      1
1155  1  0  0   0   0   0   0   0   0   0  21  12  86128      16      0
1156  1  0  0   0   0   0   0   1   0   0  21  12  86152      16      1
1157  1  0  0   0   0   0   0   0   0   0  21  12  86154      16      0
1158  1  1  0   0   0   0   0   0   0   0  12  12  86219       4      1

[1158 rows x 15 columns]

In [6]:
data = util.convert_to_multi(data, type)
data

1158

      sensor_id  value   time  old_sen
0          5889      1     49        3
1          5889      0    252        3
2          5889      1    301        3
3          5889      0    504        3
4          5889      1    505        3
...         ...    ...    ...      ...
1153       7125      1  86125       16
1154       7125      0  86128       16
1155       7125      1  86152       16
1156       7125      0  86154       16
1157       5889      1  86219        4

[1158 rows x 4 columns]

In [7]:
filename = "DAY_2.txt"
type = "HouseB"

In [9]:
data = preprocessing.process_data_Aras(filename, type)

0
20000
40000
60000
80000
366

In [10]:
data = util.load_aras(filename, type)
data

0
20000
40000
60000
80000

       2  5  6  10  12  13  14  15  16  17  18  19  20  21   time
0      0  0  0   0   1   1   0   0   0   0   0   0  12  12      1
643    0  0  0   0   0   1   0   0   0   0   0   0  12  12    644
644    0  0  0   0   1   1   0   0   0   0   0   0  12  12    645
962    0  0  0   0   0   0   0   0   0   0   0   0  12  12    963
965    0  0  0   0   1   1   0   0   0   0   0   0  12  12    966
...   .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
81911  0  0  0   0   0   1   0   0   0   0   1   0  12  12  81912
81912  0  0  0   0   0   1   0   0   0   0   0   0  12  12  81913
81928  0  0  0   0   0   0   0   0   0   0   0   0  12  12  81929
81951  0  0  0   0   0   0   1   0   0   0   0   0  12  11  81952
81956  0  0  0   0   0   0   1   1   0   0   0   0  11  11  81957

[367 rows x 15 columns]

In [11]:
data = util.transform_House(data)
data

     2  5  6  10  12  13  14  15  16  17  18  19  20  21   time  sensor  value
1    0  0  0   0   0   1   0   0   0   0   0   0  12  12    644      12      0
2    0  0  0   0   1   1   0   0   0   0   0   0  12  12    645      12      1
3    0  0  0   0   0   0   0   0   0   0   0   0  12  12    963      12      0
4    0  0  0   0   1   1   0   0   0   0   0   0  12  12    966      12      1
5    0  0  0   0   0   0   0   0   0   0   0   0  12  12    974      12      0
..  .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...     ...    ...
362  0  0  0   0   0   1   0   0   0   0   1   0  12  12  81912      18      1
363  0  0  0   0   0   1   0   0   0   0   0   0  12  12  81913      18      0
364  0  0  0   0   0   0   0   0   0   0   0   0  12  12  81929      13      0
365  0  0  0   0   0   0   1   0   0   0   0   0  12  11  81952      14      1
366  0  0  0   0   0   0   1   1   0   0   0   0  11  11  81957      15      1

[366 rows x 17 columns]

In [12]:
data = util.convert_to_multi(data, type)
data

366

     sensor_id  value   time  old_sen
0         5889      0    644       12
1         5889      1    645       12
2         5889      0    963       12
3         5889      1    966       12
4         5889      0    974       12
..         ...    ...    ...      ...
361       5893      1  81912       18
362       5893      0  81913       18
363       5889      0  81929       13
364       5896      1  81952       14
365       5896      1  81957       15

[366 rows x 4 columns]

In [5]:
filename_float = "sensor_sample_float_3.csv"
filename_int = "sensor_sample_int_52.csv"

In [6]:
data = preprocessing.process_data_Multi("sensor_sample_float_3.csv", "sensor_sample_int_52.csv")

0
100000
200000
300000
400000
168,167   diff: 78
288,287   diff: 57
294,293   diff: 51
300,299   diff: 56
312,311   diff: 64
316,315   diff: 55
324,323   diff: 86
336,335   diff: 120
338,337   diff: 132
352,351   diff: 54
364,363   diff: 110
366,365   diff: 82
378,377   diff: 83
382,381   diff: 53
384,383   diff: 134
386,385   diff: 53
388,387   diff: 51
400,399   diff: 62
432,431   diff: 99
438,437   diff: 56
454,453   diff: 60
492,491   diff: 51
498,497   diff: 61
592,591   diff: 60
630,629   diff: 97
644,643   diff: 74
654,653   diff: 56
672,671   diff: 50
674,673   diff: 71
742,741   diff: 56
748,747   diff: 73
752,751   diff: 98
798,797   diff: 52
812,811   diff: 56
834,833   diff: 66
880,879   diff: 54
898,897   diff: 78
902,901   diff: 76
914,913   diff: 56
922,921   diff: 127
928,927   diff: 95
936,935   diff: 59
940,939   diff: 121
948,947   diff: 85
952,951   diff: 130
960,959   diff: 66
964,963   diff: 87
972,971   diff: 104
986,985   diff: 50
990,989   diff: 60
998,997   diff: 100
1004,1003   diff: 58
1016,1015   diff: 55
1026,1025   diff: 64
1028,1027   diff: 60
1070,1069   diff: 102
1078,1077   diff: 63
1092,1091   diff: 79
1094,1093   diff: 80
1110,1109   diff: 57
1116,1115   diff: 107
1136,1135   diff: 73
1144,1143   diff: 71
1164,1163   diff: 50
1176,1175   diff: 72
1242,1241   diff: 54
1290,1289   diff: 66
1296,1295   diff: 88
1372,1371   diff: 56
1456,1455   diff: 67
1464,1463   diff: 193
1472,1471   diff: 112
1476,1475   diff: 54
1540,1539   diff: 86
1626,1625   diff: 50
1630,1629   diff: 125
1670,1669   diff: 61
1938,1937   diff: 51
1940,1939   diff: 58
1960,1959   diff: 57
2052,2051   diff: 65
2104,2103   diff: 56
2162,2161   diff: 95
2194,2193   diff: 57
2250,2249   diff: 62
2286,2285   diff: 113
2288,2287   diff: 56
2308,2307   diff: 59
2312,2311   diff: 87
2314,2313   diff: 87
2316,2315   diff: 96
2322,2321   diff: 61
2324,2323   diff: 54
2366,2365   diff: 84
2382,2381   diff: 54
2386,2385   diff: 64
2402,2401   diff: 56
2410,2409   diff: 53
2424,2423   diff: 57
2520,2519   diff: -86361
2524,2523   diff: 132
2600,2599   diff: 53
2602,2601   diff: 57
2618,2617   diff: 53
2620,2619   diff: 84
2628,2627   diff: 87
2630,2629   diff: 60
2638,2637   diff: 122
2640,2639   diff: 59
2650,2649   diff: 62
2656,2655   diff: 65
2756,2755   diff: 66
2784,2783   diff: 91
2792,2791   diff: 107
3034,3033   diff: 71
3214,3213   diff: 55
3546,3545   diff: 90
3558,3557   diff: 75
3568,3567   diff: 56
3570,3569   diff: 118
3576,3575   diff: 100
3596,3595   diff: 68
3602,3601   diff: 65
3606,3605   diff: 112
3612,3611   diff: 90
3614,3613   diff: 68
3616,3615   diff: 69
3622,3621   diff: 86
3626,3625   diff: 142
3628,3627   diff: 94
3648,3647   diff: 111
3658,3657   diff: 76
3662,3661   diff: 59
3664,3663   diff: 65
3666,3665   diff: 53
3676,3675   diff: 93
3680,3679   diff: 86
3694,3693   diff: 54
3714,3713   diff: 67
3718,3717   diff: 87
3730,3729   diff: 65
3740,3739   diff: 92
3744,3743   diff: 78
3748,3747   diff: 55
3756,3755   diff: 75
3790,3789   diff: 53
3812,3811   diff: 92
3820,3819   diff: 90
3824,3823   diff: 106
3828,3827   diff: 68
3836,3835   diff: 79
3842,3841   diff: 60
3846,3845   diff: 106
3854,3853   diff: 54
3866,3865   diff: 76
3868,3867   diff: 69
3878,3877   diff: 83
3902,3901   diff: 82
3908,3907   diff: 56
3910,3909   diff: 109
3924,3923   diff: 105
10,9   diff: 44
16,15   diff: 67
204,203   diff: 45
262,261   diff: 36
272,271   diff: 675
296,295   diff: 11930
332,331   diff: -71259
340,339   diff: 5342

In [7]:
data

     sensor_id  value   time                   timestamp
0         5895    0.0  60655  2020-03-24 16:50:55.754753
1         5889    0.0  60656  2020-03-24 16:50:56.015072
2         5896    0.0  60656  2020-03-24 16:50:56.068567
3         6253    0.0  60656  2020-03-24 16:50:56.114845
4         5887    0.0  60656  2020-03-24 16:50:56.145422
..         ...    ...    ...                         ...
427       6632    0.0  42987  2020-03-25 11:56:27.163437
428       6633    1.0  57625  2020-03-25 16:00:25.135199
429       6633    0.0  57844  2020-03-25 16:04:04.714640
430       6633    1.0  58021  2020-03-25 16:07:01.320117
431       6633    0.0  58105  2020-03-25 16:08:25.982548

[451 rows x 4 columns]

In [8]:
multi_float = util.load_multi_data(filename_float)
multi_float

        value_id  sensor_id                   timestamp  value   time
0        2349697       6632  2020-03-24 20:51:13.574159  0.000  75073
2        2349699       6635  2020-03-24 20:51:14.263785  0.000  75074
3        2349700       6633  2020-03-24 20:51:14.360718  0.409  75074
6        2349703       6632  2020-03-24 20:51:14.822827  0.000  75074
7        2349704       6635  2020-03-24 20:51:15.559019  0.000  75075
...          ...        ...                         ...    ...    ...
499994   2849691       6632  2020-03-26 05:31:28.808570  0.000  19888
499995   2849692       6635  2020-03-26 05:31:28.872613  0.000  19888
499997   2849694       6633  2020-03-26 05:31:29.380668  0.324  19889
499999   2849696       6632  2020-03-26 05:31:30.111991  0.000  19890
500000   2849697       6635  2020-03-26 05:31:30.183784  0.000  19890

[264865 rows x 5 columns]

In [9]:
multi_int   = util.load_multi_data(filename_int)
multi_int

        value_id  sensor_id                   timestamp  value   time
1       61071474       5895  2020-03-24 16:50:55.754753      0  60655
4       61071477       5889  2020-03-24 16:50:56.015072    261  60656
5       61071479       5896  2020-03-24 16:50:56.068567    605  60656
6       61071480       6253  2020-03-24 16:50:56.114845      0  60656
7       61071482       5887  2020-03-24 16:50:56.145422    170  60656
...          ...        ...                         ...    ...    ...
499993  61844453       5893  2020-03-25 04:12:46.981211      0  15166
499994  61844457       5895  2020-03-25 04:12:47.083506      0  15167
499996  61844459       6253  2020-03-25 04:12:47.418688      0  15167
499997  61844461       5889  2020-03-25 04:12:47.452053    272  15167
499999  61844464       5896  2020-03-25 04:12:47.639601    643  15167

[223842 rows x 5 columns]

In [10]:
df = util.merge_multi_data(multi_int, multi_float)
df

        value_id  sensor_id                   timestamp    value   time
0       61071474       5895  2020-03-24 16:50:55.754753    0.000  60655
1       61071477       5889  2020-03-24 16:50:56.015072  261.000  60656
2       61071479       5896  2020-03-24 16:50:56.068567  605.000  60656
3       61071480       6253  2020-03-24 16:50:56.114845    0.000  60656
4       61071482       5887  2020-03-24 16:50:56.145422  170.000  60656
...          ...        ...                         ...      ...    ...
488702   2849691       6632  2020-03-26 05:31:28.808570    0.000  19888
488703   2849692       6635  2020-03-26 05:31:28.872613    0.000  19888
488704   2849694       6633  2020-03-26 05:31:29.380668    0.324  19889
488705   2849696       6632  2020-03-26 05:31:30.111991    0.000  19890
488706   2849697       6635  2020-03-26 05:31:30.183784    0.000  19890

[488707 rows x 5 columns]

In [11]:
binary = util.convert_to_binary(df)
binary

        value_id  sensor_id                   timestamp  value   time
0       61071474       5895  2020-03-24 16:50:55.754753    0.0  60655
1       61071477       5889  2020-03-24 16:50:56.015072    0.0  60656
2       61071479       5896  2020-03-24 16:50:56.068567    0.0  60656
3       61071480       6253  2020-03-24 16:50:56.114845    0.0  60656
4       61071482       5887  2020-03-24 16:50:56.145422    0.0  60656
...          ...        ...                         ...    ...    ...
488702   2849691       6632  2020-03-26 05:31:28.808570    0.0  19888
488703   2849692       6635  2020-03-26 05:31:28.872613    0.0  19888
488704   2849694       6633  2020-03-26 05:31:29.380668    0.0  19889
488705   2849696       6632  2020-03-26 05:31:30.111991    0.0  19890
488706   2849697       6635  2020-03-26 05:31:30.183784    0.0  19890

[488707 rows x 5 columns]

In [12]:
df = binary[["sensor_id", "value", "time", "timestamp"]]

In [13]:
df.reset_index(drop=True)

## remove erros due to refreshing cycle
df = util.remove_error_refresh_cycle(df)
df

0
100000
200000
300000
400000

        sensor_id  value   time                   timestamp
0            5895    0.0  60655  2020-03-24 16:50:55.754753
1            5889    0.0  60656  2020-03-24 16:50:56.015072
2            5896    0.0  60656  2020-03-24 16:50:56.068567
3            6253    0.0  60656  2020-03-24 16:50:56.114845
4            5887    0.0  60656  2020-03-24 16:50:56.145422
...           ...    ...    ...                         ...
345772       6632    0.0  42987  2020-03-25 11:56:27.163437
378366       6633    1.0  57625  2020-03-25 16:00:25.135199
378861       6633    0.0  57844  2020-03-25 16:04:04.714640
379257       6633    1.0  58021  2020-03-25 16:07:01.320117
379449       6633    0.0  58105  2020-03-25 16:08:25.982548

[4375 rows x 4 columns]

In [14]:
df = util.remove_error_motion(df)

168,167   diff: 78
288,287   diff: 57
294,293   diff: 51
300,299   diff: 56
312,311   diff: 64
316,315   diff: 55
324,323   diff: 86
336,335   diff: 120
338,337   diff: 132
352,351   diff: 54
364,363   diff: 110
366,365   diff: 82
378,377   diff: 83
382,381   diff: 53
384,383   diff: 134
386,385   diff: 53
388,387   diff: 51
400,399   diff: 62
432,431   diff: 99
438,437   diff: 56
454,453   diff: 60
492,491   diff: 51
498,497   diff: 61
592,591   diff: 60
630,629   diff: 97
644,643   diff: 74
654,653   diff: 56
672,671   diff: 50
674,673   diff: 71
742,741   diff: 56
748,747   diff: 73
752,751   diff: 98
798,797   diff: 52
812,811   diff: 56
834,833   diff: 66
880,879   diff: 54
898,897   diff: 78
902,901   diff: 76
914,913   diff: 56
922,921   diff: 127
928,927   diff: 95
936,935   diff: 59
940,939   diff: 121
948,947   diff: 85
952,951   diff: 130
960,959   diff: 66
964,963   diff: 87
972,971   diff: 104
986,985   diff: 50
990,989   diff: 60
998,997   diff: 100
1004,1003   diff: 58
1016,1015   diff: 55
1026,1025   diff: 64
1028,1027   diff: 60
1070,1069   diff: 102
1078,1077   diff: 63
1092,1091   diff: 79
1094,1093   diff: 80
1110,1109   diff: 57
1116,1115   diff: 107
1136,1135   diff: 73
1144,1143   diff: 71
1164,1163   diff: 50
1176,1175   diff: 72
1242,1241   diff: 54
1290,1289   diff: 66
1296,1295   diff: 88
1372,1371   diff: 56
1456,1455   diff: 67
1464,1463   diff: 193
1472,1471   diff: 112
1476,1475   diff: 54
1540,1539   diff: 86
1626,1625   diff: 50
1630,1629   diff: 125
1670,1669   diff: 61
1938,1937   diff: 51
1940,1939   diff: 58
1960,1959   diff: 57
2052,2051   diff: 65
2104,2103   diff: 56
2162,2161   diff: 95
2194,2193   diff: 57
2250,2249   diff: 62
2286,2285   diff: 113
2288,2287   diff: 56
2308,2307   diff: 59
2312,2311   diff: 87
2314,2313   diff: 87
2316,2315   diff: 96
2322,2321   diff: 61
2324,2323   diff: 54
2366,2365   diff: 84
2382,2381   diff: 54
2386,2385   diff: 64
2402,2401   diff: 56
2410,2409   diff: 53
2424,2423   diff: 57
2520,2519   diff: -86361
2524,2523   diff: 132
2600,2599   diff: 53
2602,2601   diff: 57
2618,2617   diff: 53
2620,2619   diff: 84
2628,2627   diff: 87
2630,2629   diff: 60
2638,2637   diff: 122
2640,2639   diff: 59
2650,2649   diff: 62
2656,2655   diff: 65
2756,2755   diff: 66
2784,2783   diff: 91
2792,2791   diff: 107
3034,3033   diff: 71
3214,3213   diff: 55
3546,3545   diff: 90
3558,3557   diff: 75
3568,3567   diff: 56
3570,3569   diff: 118
3576,3575   diff: 100
3596,3595   diff: 68
3602,3601   diff: 65
3606,3605   diff: 112
3612,3611   diff: 90
3614,3613   diff: 68
3616,3615   diff: 69
3622,3621   diff: 86
3626,3625   diff: 142
3628,3627   diff: 94
3648,3647   diff: 111
3658,3657   diff: 76
3662,3661   diff: 59
3664,3663   diff: 65
3666,3665   diff: 53
3676,3675   diff: 93
3680,3679   diff: 86
3694,3693   diff: 54
3714,3713   diff: 67
3718,3717   diff: 87
3730,3729   diff: 65
3740,3739   diff: 92
3744,3743   diff: 78
3748,3747   diff: 55
3756,3755   diff: 75
3790,3789   diff: 53
3812,3811   diff: 92
3820,3819   diff: 90
3824,3823   diff: 106
3828,3827   diff: 68
3836,3835   diff: 79
3842,3841   diff: 60
3846,3845   diff: 106
3854,3853   diff: 54
3866,3865   diff: 76
3868,3867   diff: 69
3878,3877   diff: 83
3902,3901   diff: 82
3908,3907   diff: 56
3910,3909   diff: 109
3924,3923   diff: 105
10,9   diff: 44
16,15   diff: 67
204,203   diff: 45
262,261   diff: 36
272,271   diff: 675
296,295   diff: 11930
332,331   diff: -71259
340,339   diff: 5342

In [15]:
df

     sensor_id  value   time                   timestamp
0         5895    0.0  60655  2020-03-24 16:50:55.754753
1         5889    0.0  60656  2020-03-24 16:50:56.015072
2         5896    0.0  60656  2020-03-24 16:50:56.068567
3         6253    0.0  60656  2020-03-24 16:50:56.114845
4         5887    0.0  60656  2020-03-24 16:50:56.145422
..         ...    ...    ...                         ...
427       6632    0.0  42987  2020-03-25 11:56:27.163437
428       6633    1.0  57625  2020-03-25 16:00:25.135199
429       6633    0.0  57844  2020-03-25 16:04:04.714640
430       6633    1.0  58021  2020-03-25 16:07:01.320117
431       6633    0.0  58105  2020-03-25 16:08:25.982548

[451 rows x 4 columns]